.task.selected, .entry.selected {
    border: 2px black solid !important;
}
.task {
    margin: 5px;
    border: 2px white solid !important;
}

.day {
    margin: 5px;
}

#calendar tbody > tr:nth-child(4n+1) {
    border-top: 2px lightgray solid;
}